body {
  margin: 0%;
  font-family: 'Roboto';
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.hero {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  gap: 50px;
}

.hero-text {
  max-width: 500px;
  color: #F9FAF8;
}

.hero-text h1 {
  font-size: 45px;
  font-weight: 900;
  margin-block: 20px;
}

.hero-text p {
  font-size: 16px;
  color: #E5E7EB;
  margin-block: 20px;
}

.hero-text button {
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;


}

.hero-text button:hover {

  background: #90EE90;

}

.hero-image {
  background-color: #6b7280;
  width: 400px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
  padding: 60px 20px;
}

.info h2 {
  font-size: 32px;
  color: #1F2937;
  margin-bottom: 40px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.box {
  width: 150px;
}

.image-placeholder {
  width: 140px;
  height: 140px;
  border: 5px solid #3882F6;
  border-radius: 10px;
  margin-bottom: 10px;
}